/** 
Escribir el CSS necesario aqui
*/
div {
	height: 40px;
	border-top: 10px purple solid;
	border-bottom: 10px purple solid;
	border-left: 5px purple solid;
	border-right: 5px purple solid;
	padding: 10px 20px 10px 60px;
	margin: 200px;
	background-color: pink;
	text-align: center;

}

p {
	padding:  10px;
	background-color: white;
	border: 1px blue dashed;
	margin: 1px;

}